.navbar{
         	    /*border: solid;
         	    border-color-bottom: ghostwhite;
         	    */word-spacing: 1px;
         	    background-color: whitesmoke;
         	    padding: 1%;

         }  
         .navbar a{ 
         	text-decoration: none;
         	color: black;
        }	

         .section-2{
         	text-transform: capitalize;
         	background-color: blue;
         	color: white;
         	padding: 10% 5%;
         	margin: 5% 15% 10% 15% ;
         	text-align: center;
         }

         .button{
         	background-color: blue;
         	border-color: white;
         	color: white;
         }
         .bottom-text{
         	text-align: center;
         	font-size: 20px;
         	background-color: lightgray;
         	margin: 4%;
         	padding: 1%;
         }
         .bottom{
         	background-color: black;
         	color: grey;
             	
         }
         .sectio-10{

        	color: gray;
        	padding-left: 58%;
        
         }
         .a{
         	margin-right: 4%;
         }
         .navbar>a{
         	padding-right: 1.9%;
         	font-size: 15px;
         }
         .section-3{
         	text-align: center;
         	font-size: 35px;
         }
         .section-3 a{
         	color: black;
         	padding-right: 10%;

         }
         .sub-section-3{
         	text-align: centre;
         }

         .section-4{
         	text-align: center;
         }
         .section-5{
         	text-align: center;
         	background-color: blue;
         	color: white;
         	padding: 2% 2%;
         	margin: 5% 15% 10% 15% ;
         }

         .section-6{
         	background-color: black;
         	color: white;
         	margin: 4% ;
         	padding-left: 5%;
            padding-top: 0.01%;
            padding-bottom: 0.01%;
         }
         .sub-section-6{
             color: gray;
             text-align: right;
             padding-top: 0.6%;
             padding-bottom: 0.6%;
        }

        .sub-section-6-1{
        	color: gray;
        	padding-left: 58%;
        }
         .brand{
         	color: black;
         }	
         .section-7{
         	text-align: center;
         	margin-left: 0%;
         	font-size: 15px;
         }
         
        .main-section{
            color: 	black;
            text-decoration-color: 	black ;
            margin-left:20%;
            padding-left:0%;
            display: flex;
        }
        .main-section>div{
        	margin-left: 4%;
        }
        #a{
            background-color: white;
            border-radius: 50%;
            border: 1px solid grey;
            padding: 10px;}
        @media (max-width: 1472px)  {
        	.navbar a{
        		font-size: 15px;}
        	.main-section{
        		margin-right: 15%;
        		margin-left: 15%;
        		
        	}
        }
        @media (max-width: 992px){
            .navbar a{
                font-size: 9.5px;}
            .main-section{
                margin-right: 15%;
                margin-left: 15%;

        }
        @media (max-width: 768px){
        	.navbar a{
                    font-size: 7px;

        	}
        	.main-section{
        		font-size: 15px;
               
        		margin-left: 5%;
        		margin-right: 5%;
        	}
        } 
        @media (max-width: 576px){
            .navbar a{
                    font-size: 5px;

            }
            .main-section{
                font-size: 15px;
               
                margin-left: 5%;
                margin-right: 5%;
            }
        } 
         @media (max-width: 480px){
            .navbar a{
                    font-size: 4px;

            }
            .main-section{
                font-size: 15px;
                margin-left: 5%;
                margin-right: 5%;
            }
        } 